<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuite name="Anti-XSS Test Suite">
    <directory>tests</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
